[Unit]
Description=GLPI MariaDB Database
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/library/mariadb:10.6
Pod=glpi-pod.pod
EnvironmentFile=ENV_FILE_PLACEHOLDER
Volume=MARIADB_VOLUME_PLACEHOLDER
HealthCmd=mysqladmin ping -h localhost
HealthInterval=30s
HealthTimeout=10s
HealthRetries=3

[Install]
WantedBy=default.target